<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>
<body>
  <div id="container">
    <h1> Choose the city  <i class="fa fa-sun-o" aria-hidden="true"></i></h1>
  
    <ul>
      <li><span><i class="fa fa-eye"></i></span> <a href='/NY'> New York </a> </li>
      <li ><span><i class="fa fa-eye"></i></span> <a href='/LA'> Los Angeles </a></li>
      <li ><span><i class="fa fa-eye"></i></span> <a href='/Chicago'>Chicago</a> </li>
      <li ><span><i class="fa fa-eye"></i></span> <a href='/Washington'>Washington</a> </li>
    </ul>
  </div>

</body>
</html>