<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/pages.css">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>

  <div id="current">
    <h2>Real-Time weather in LA </h2>
    <p>Description: {{ data.current.weather[0].main }} </p>
    <p>Temperature: {{data.current.temp}} </p>
    <p>FEELS LIKE: {{data.current.feels_like}} </p>
    <p>Sunrise: <span> {{ sunrise }} </span></p>
    <p>Sunset: <span> {{ sunset }} </span></p>
  </div>

  <div id="table">
    <h2 id="table-title">Weather Forcast in 8 days</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Date</th>
          {{each dateList}}
            <th scope="col">{{$value}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Description</th>
          {{each data.daily}}
            <td>{{$value.weather[0].description}}</td>
          {{/each}}
        </tr>
        <tr>
          <th scope="row">Temperature</th>
          {{each data.daily}}
            <td>{{$value.temp.day}}</td>
          {{/each}}
        </tr>
        <tr>
          <th scope="row">FEELS LIKE</th>
          {{each data.daily}}
            <td>{{$value.feels_like.day}}</td>
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>